.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: center;

}
.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
.footer a {
  align-self: center;
  color: white;
}
.mainBookContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.bookImage {
  height: 30vw;
  width: 20vw;
}
.bookInfo {
  border: black 1px solid;
  margin: 1%;
  padding: 4px;
  width: 20vw;
}

.bookInfo p {
  overflow-wrap: break-word;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
